{% extends "./layout.html" %}
{% block title %}Autoren{% endblock %}


{% block header %}
  {{super()}}
  <div class="post-header">
      <h2>Autoren</h2>
  </div>
{% endblock %}

{% block content %}
  <main class="page">
      <h3 id="ermeline">Ermeline</h3>
      <img src="/images/Ermeline.jpg" class="author">
      <p>
        Ermeline Wollknoll ist mein Alter Ego, ursprünglich nutzte ich diesen Namen nur im LARP, es stellte sich jedoch heraus, dass ich mit diesem Namen alles verbinde, was flauschig, niedlich und selbstgemacht ist, seither ist er meine Identität im Flauschiversum. Ich bin eine Basteltante wie sie im Buche steht, ich improvisiere, experimentiere, modelliere, erfinde und mache alle nur denkbaren Sachen. Ich bin stets auf der Suche nach neuen Hobbys und Fähigkeiten.
      </p>
  </main>
{% endblock %}

{% block footer %}{% endblock %}
