{% extends "./layout.html" %}
{% block header %}
  {{ super() }}
  <div class="center">
    Von <a href="/autoren.html" style="margin-left: 0.3em;">Ermeline Wollknoll</a>
  </div>
  <div class="category-images">
    {% if  (not category and pagenum == 0) or category == 'basteln' %}
      <a href="/basteln/">
        <h2>Basteln</h2>
        <img src="/images/Basteln.jpg" class="category"/>
        <p>Mit Klebe und Schere bestückt,<br/> wird mit Liebe geschmückt.</p>
      </a>
    {% endif %}
    {% if  (not category and pagenum == 0) or category == 'brandings' %}
      <a href="/brandings/">
        <h2>Brandings</h2><img src="/images/Brandings.jpg" class="category"/>
        <p>Die Haut zu dick? Das ist egal,<br/> bebrannt wird auch das Holzregal.</p>
      </a>
    {% endif %}
    {% if  (not category and pagenum == 0) or category == 'filzen' %}
      <a href="/filzen/">
        <h2>Filzen</h2>
        <img src="/images/Filzen.jpg" class="category"/>
        <p>Wasser, Seife, Wolle,<br/> reibe nicht zu dolle.</p>
      </a>
    {% endif %}
    {% if  (not category and pagenum == 0) or category == 'malen' %}
      <a href="/malen/">
        <h2>Malen</h2><img src="/images/Malen.jpg" class="category"/>
        <p>Pinselstrich und Mine, geben mir die Muße,<br/> dem ersten Zug, ein Neuer folgt zum Gruße.</p>
      </a>
    {% endif %}
    {% if  (not category and pagenum == 0) or category == 'nahen' %}
      <a href="/nahen/">
        <h2>Nähen</h2><img src="/images/Naehen.jpg" class="category"/>
        <p>Mit Nadel und Faden in den Krieg,<br/> erreichen kannst du nur den Sieg.</p>
      </a>
    {% endif %}
    {% if  (not category and pagenum == 0) or category == 'wolle' %}
      <a href="/wolle/">
        <h2>Wolle</h2><img src="/images/Wolle.jpg" class="category"/>
        <p>Spinne, häkel, webe, sticke,<br/> knüpfe dir nur keine Stricke.</p>
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <main id="index">
    {% include "./lib/pagination.html" %}
    {% for post in posts %}
      {% if post.published %} 
        <div class="center">
          <article>
            <header>
              <p class="date"><span class="date">{{ post.datestring }}</span></p>
              <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
              </a>
            </header>
            <div class="center">
              {% if  post.thumb %}
                <a href="{{ post.url }}" class="post-image">
                  <img src="{{ post.thumb }}" class="post-image"/>
                </a>
              {% endif %}
              <p class="excerpt">
                {{ post.excerpt }}
                <a href="{{ post.url }}" class="more">weiterlesen</a>
              </p>
            </div>
          </article>
        </div>
      {% endif %}
    {% endfor %}
    {% include "./lib/pagination.html" %}
  </main>
{% endblock %}
